<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="configFragment">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1">
	    	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
	    	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	    	<script src="/bootstrap/js/bootstrap.min.js"></script>
	    	<script src="/js/moment.min.js"></script>
	    	<script src="/js/daterange/daterangepicker.js"></script>
	    	<script src="/js/common.js"></script>
	    	
	    	<link rel="stylesheet" type="text/css" href="/css/bookstore.css">
	    	<link rel="stylesheet" type="text/css" href="/js/daterange/daterangepicker.css">
	    	<title>새벽서점</title>
		</head>
	 	
	</th:block>
</html>