<!DOCTYPE html>
	<html lang="ko" >
	
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    	<script src="/bootstrap/js/bootstrap.min.js"></script>
    	<script src="/js/common.js"></script>
    	
    	<link rel="stylesheet" type="text/css" href="/css/bookstore.css">
    	<title>새벽서점</title>
	</head>
	<body>
		<div id="join_wrapper">
			<div class="join_sub">
				<h2 class="">회원가입</h2>
			</div>
			<div class="join_form">
				<div class="input_row">
					<p class="">아이디<span>*</span></p>
					<div class="ms-3 d-flex justify-content-start align-items-center">
						<input type="text" class=""/>
						<div class="ms-2 basic_btn">중복확인</div>
					</div>
				</div>
				<div class="input_row">
					<p class="">비밀번호<span>*</span></p>
					<input type="text" class="ms-3"/>
				</div>
				<div class="input_row">
					<p class="">비밀번호 확인<span>*</span></p>
					<input type="text" class="ms-3"/>
				</div>
				<div class="input_row">
					<p class="">이름<span>*</span></p>
					<input type="text" class="ms-3"/>
				</div>
				<div class="input_row">
					<p class="">생년월일<span>*</span></p>
					<input type="text" class="ms-3"/>
				</div>
				<div class="input_row">
					<p class="">주소<span>*</span></p>
					<input type="text" class="ms-3"/>
				</div>
			</div>
			
			<div class="join_sub">
				<h2 class="">가입 이용약관</h2>
			</div>
			<div class="join_agree">
				<div class="agree_row">
					<div class="d-flex justify-content-start align-items-center">
						<input type="checkbox" id="agreeAll" />
						<label for="agreeAll" class="all_agree" >전체 동의</label>
					</div>
				</div>
				<div class="agree_row">
					<div class="d-flex justify-content-start align-items-center">
						<input type="checkbox" id="agree1" />
						<label for="agree1" >개인정보 수집동의 <span class="agree_require">필수</span></label>
					</div>
					<p class="agree_detail">상세보기</p>
				</div>
				<div class="agree_row">
					<div class="d-flex justify-content-start align-items-center">
						<input type="checkbox" id="agree2" />
						<label for="agree2" >약관이용 동의 <span class="agree_require">필수</span></label>
					</div>
					<p class="agree_detail">상세보기</p>
				</div>
			</div>
			<div class="btn_area">
				<div class="basic_btn cancel">취소</div>
				<div class="basic_btn regist ms-2">가입하기</div>
			</div>
		</div>
  	</body>
</html>
