<!DOCTYPE html>
	<html lang="ko" >
	
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    	<script src="/bootstrap/js/bootstrap.min.js"></script>
    	<script src="/js/common.js"></script>
    	
    	<link rel="stylesheet" type="text/css" href="/css/bookstore.css">
    	<title>새벽서점</title>
	</head>
	<body>
		<div id="join_wrapper">
			<div class="text-center py-3">
				<h2 class="">회원가입</h2>
			</div>
			<div class="join_form">
				<div class="input_row">
					<div class=" d-flex justify-content-start align-items-center">
						<input type="text" class="" placeholder="4~20 영문, 숫자"/>
						<div class="ms-2 basic_btn">이메일 인증</div>
					</div>
					<p class="join_label">이메일</p>
				</div>
				<p class="valid">이메일을 입력해 주세요.</p>
				<div class="input_row">
					<input type="text" class="" placeholder="8~12 영문, 숫자, 특수문자" />
					<p class="join_label">비밀번호</p>
				</div>
				<div class="input_row">
					<input type="text" class="" placeholder="8~12 영문, 숫자, 특수문자" />
					<p class="join_label">비밀번호 확인</p>
				</div>
				<div class="my-3 input_row">
					<p class="m-0">개인정보 유효기간</p>
					<input type="radio" value="permanent" checked /><label class="join_radio_label">탈퇴시까지</label>
					<input type="radio" value="year" /><label class="join_radio_label">1년</label>
				</div>
				<div class="input_row">
					<input type="text" class="" placeholder="" />
					<p class="join_label">이름</p>
				</div>
				<div class="input_row">
					<input type="text" class="" placeholder="YYYYMMDD" />
					<p class="join_label">생년월일</p>
				</div>
				<div class="input_row">
					<input type="text" class="" placeholder="-제외하고 11자리" />
					<p class="join_label">휴대폰</p>
				</div>
			</div>
			
			
			<div class="btn_area">
<!--				<div class="basic_btn cancel">취소</div>-->
				<div class="basic_btn regist">가입하기</div>
			</div>
		</div>
  	</body>
</html>
